.idea
\Calculatrice\.idea
\Calculatrice\Calculatrice\bin\Debug
\Calculatrice\Calculatrice\obj\Debug
\Meteo\Weather app\.idea
\Meteo\Weather app\Weather app\bin\Debug
\Meteo\Weather app\Weather app\obj\Debug